cmake
annotated-types
anyio
click
colorama
dlib
exceptiongroup
face-recognition
face-recognition-models
fastapi
h11
numpy
opencv-python
Pillow
pydantic
pydantic_core
sniffio
starlette
typing_extensions
uvicorn
